/*RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*RESET*/

/*COMMON*/

body{
    font-family: 'Montserrat', sans-serif;

}


img {
    width: 100%;
}

.margin_common {
    margin: 20px 0;
}

.layover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.txt {
    font-size: 16px;
    color: lightgray;
}
/*COMMON*/

/*Wrapper start*/

.wrapper {
    width: 80%;
    margin: auto;
    padding: 10px;
}

/*Wrapper end*/

/*Header Start*/

.logo img {
    width: 150px;
}

/*Menu Start*/

.menu {
    list-style-type: none;
    padding: 2% 0;
}

.menu li {
    display: inline-block;
    margin-right: 5px;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #939393;
}

/*Menu End*/

/*Banner Start*/

.banner {
    position: relative;
    overflow: hidden;
    height: 500px;
    border-radius: 10px;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.teaser {
    position: absolute;
    bottom: 10%;
    left: 4%;
    width: 60%;
    color: white;
    
}


/*Banner End*/



/*Header End*/
